/* #BF9BA2 light red/purple
#111C26 purplish black
#8195A6 steel blue
#C2E0F2 baby blue
#2E4021 dark forest green */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #C2E0F2;
    color: #111C26;
    line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

header, main, footer {
    padding: 1em;
}

header {
    background-color: #BF9BA2;
    text-align: center;
}

a {
    color: #2E4021;
    transition: .1s ease-in-out all;
}

a:hover {
    color: #111C26;
    transition: .1s ease-in-out all;
}

header h1 {
    margin-bottom: 0;
}

header h3 {
    margin-top: 0;
    line-height: 1;
}

main p {
    text-align: justify;
}

@media (min-width: 600px) {
    .flex-gallery {
        display: flex;
        flex-wrap: wrap;
    }

    .gallery-item {
        width: 50%;
        padding: 1em;
    }

    nav {
        display: flex;
        justify-content: center;
    }

    nav p {
        padding: 0 1em;
    }
}

@media (min-width: 1100px) {
    header {
        display: flex;
        text-align: left;
        justify-content: space-between;
        align-items: center;
    }

    .gallery-item {
        width: 33.333%;
    }
}