<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>My blog</title>
</head>

  <body>
    <div class="container">
      <header>
        <nav>
          <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">About me</a></li>
            <li><a href="#">Gallery</a></li>
          </ul>
        </nav>
      </header>
      <hr>
      <main>


      </main>
      <div id="sidebar">
        <img src="img/tree (1).jpeg" alt="">
      </div>
      <footer>


      </footer>
    </div>  
  </body>
</html>



<!-- {%for post in posts%}
        <div>
          <h3>posts</h3>
          <p>{{post['title']}}</p>
        </div>
        {%endfor%}-->
