
body {
    margin : 0;
    text-align: center;
    padding : 20px;
    font-family: Monospace ;
    font-size: 15px;
    background-image: url("pics/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
img {
    float:right;
    padding : 10px;
    border-radius: 200px;
}
h1 {
    font-family: Monospace;
    font-size: 50px;
    background-color: violet;
    color: whitesmoke;
    border-radius: 50px;
    margin: 20px 250px 0px 250px;
    padding-left: 50px;
}
h2 {
    font-size: 25px;
    background-color: violet;
    color: whitesmoke;
    border-radius: 0px;
    margin: 0px 300px 10px 300px;
}

h3, ul {
    text-align: justify;
    padding-left : 75px;

}
