body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 20px;
  padding: 20px;
  background-image: url("images/real_cf.png");
}

ul {
  width: 400px;
  height: 75px;
}

h1 {
  font-size: 60px;
  color: #a5acaf;
  text-align: center;
  text-shadow: 1px 1px 1px #69be28, 2px 2px 1px#69be28;
}

h2 {
  text-decoration: underline;
}

.boxed {
  border: 5px solid #69be28;
  background-color: #a5acaf;
  padding: 10px;
  margin: 20px;
}

.boxed p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.boxed2 {
  border: 5px solid #69be28;
  background-color: #a5acaf;
  padding: 10px;
  margin: 10px;
  float: left;
}
.boxed2 * {
  margin: 5px;
}
.seahawk-logo img {
  width: 300px;
  margin-left: 350px;
  margin-top: 100px;
}

.quote-font {
  font-family: Cursive;
  text-align: center;
}

.wilson-picture {
  margin: 40px;
  width: 400px;
  height: 365px;
  border-radius: 200px;
  object-fit: cover;
  margin-left: 70px;
  margin-right: 70px;
}
