{% extends 'base.html' %}

{% block title %} {{user.username}}'s Profile {% endblock title %}

{% block content %}
<div class="alert alert-info" role="alert">
  <h1>{{user.username}}'s Profile</h1></div>




<p><em>date joined : {{user.date_joined}}</em></p>
<br>


{% for post in user.post_set.all %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h3><a href="{% url 'posts:details' post.pk %}">{{post.title}}</a></h3>
        <p>{{post.body}}</p>
        <p><em>{{post.author}}</em></p>
        <p><em>{{post.created}}</em></p>
        {% if user != post.author %}
        <form action="{% url 'posts:like' post.pk %}" method="POST">
            {% csrf_token %}
        <button type="submit" name="likes" class="btn btn-primary">
        Likes <span class="badge badge-light">{{post.likes}}</span>
        </button>
        </form>
        {% endif %}
        {% if user == post.author %}
        <button type="submit" name="likes" class="btn btn-primary">
        Likes <span class="badge badge-light">{{post.likes}}</span>
        </button>
        {% endif %}
    </div>
    
{% endfor %}


{% endblock content %}