<html>
<head>
    {% load static %}
    <Link rel="stylesheet" type="text/css" href="{% static 'short/main.css' %}">
    <meta charset="UTF-8">
    <title> New URLs </title>
</head>
<body>
    <h2><a href="/"><span class="spam">Go back</span> to enter more URLs</a></h2>
    <table border="5px rigid #000">
        <thead>
            <tr>
                <th>Your old url</th>
                <th colspan="3">The improved url</th>
            </tr>
        </thead>
        {% for i in url %}
            <tbody>
                <tr>
                    <td><a href='{{i.user_url}}'>{{i.user_url}}</a></td>
                    <td><a href='{% url "short:reference_me_in_urls_html" i.new_url %}'> {{i.new_url}}</a></td>
                    <td>
                        <form action='{% url "short:delete_url" i.pk %}' method="post"> {% csrf_token %}
                            <input class="deleted" type="submit" value="Delete Button" />
                        </form>
                    </td>
                    {% comment %} Here I'm trying to create a time created for the item {% endcomment %}
                    <td>{{i.created|date:"Y M-d H:i"}}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>
    <form action='{% url "short:delete_all" %}' method="post"> {% csrf_token %}
        <input class="deleted_all" type="submit" value="Delete All" />
    </form>
</body>
</html>