/* This is a quote! */

body {
    text-align: center;
    font-family: cursive;
    background-color: cornflowerblue;
} 

h1 {
    margin: 12px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
    padding: 3px;
}

h4 {
    margin: 0px;
    margin-top: 12px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.top{
    background-color: darkgrey;
}

.a {
    border: 3px;
}

.places {
    background-color: darkgrey;
}
