<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last of Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>
<body>
    <header>
        <h5><a href="#top">Back to Top</a></h5>
    </header>
    <div id="top" class="topnav">
        <a href="https://en.wikipedia.org/wiki/The_Last_of_Us">Wikipedia</a>
        <a href="https://www.bbc.com/news/uk-england-leicestershire-58899024">Live Action Movie News</a>
        <a href="https://www.denofgeek.com/games/the-last-of-us-hbo-series-set-photo-joel/">HBO Photo Set</a>
    </div>

    <h1>Hello World! It's Joel here, let's play some tunes</h1>
    <hr>
    <img src="{{ url_for('static', filename='joel.jpg') }}">
    <ul>
        {% for post in posts %}
        <li>
        <h2>{{post['title']}}</h2>
        <p>{{post['author']}}, {{post['date']}}</p>
        <p>{{post['body']}}</p>
        </li>
        <hr>
        {% endfor %}
    </ul>
</body>
</html>