/* burrito order form */

html {
    box-sizing: border-box;
    font-size: min(16px);
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    background-color: rgb(230, 240, 215);
    font-family: 'Londrina Shadow', sans-serif;
    font-size: 70px;
    text-align: center;

    /* padding-left: 1.5em;
    padding-right: 1.5em; */
    
}

img {
    height: 200px;
    /* width: 20%; */
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5em;
    display: block;
    border: 2px double black;
    padding: 1em;

    padding: 1.5em;
}

img {
    height: 20%;
    width: 20%;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(249, 250, 244);
}


h2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

form {
    display: inline-grid;
    width: 100%;
}

label {
    font-weight: bold;
}


.card-container {
    display: inline-grid;
}

.card {
    display: inline-grid;
    line-height: 2.5;
    background-color: rgb(172, 167, 167, 0.7);
    border-radius: 2px;
    margin: 1em 2em 1em 2em;
    padding: 1em;
}

.submit {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
}

@media (min-width: 640px) {
    body {
        display: flex;
    }
    h1 {
        padding: 1em;
    }
    form {
        padding: 2em;
    }

    .card {
        width: 400px;
    }
}

@media (min-width: 1100px) {
    img {
        height: 400px;
    }
=======
form {
    display: inline-grid;

}

div {
    display: inline-grid;
    line-height: 2.5;
    background-color: rgb(172, 167, 167, 0.7);
    border-radius: 10px;
    margin: 3em;
    padding: 1em;
}

label {
    font-weight: bold;

}