html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 1em;
}

header {
    padding: 50px;
    text-align: center;
    background-color: #215892;
    color: white;
    border-radius: 10px;
}

main {
  padding: 1em;
}

footer {
  margin: 1em;
  color: #215892;
}

.store {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 1em;
}

.logo { 
  text-align: center;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #ebf4fd
}

.fa-amazon, .fa-ebay, .fa-etsy {
  color: black;
  cursor: pointer;
}

.fa-amazon:hover, .fa-ebay:hover, .fa-etsy:hover  {
  color: rgb(33, 15, 153);
}

.words-under-logo {
  padding: 0 16px;
  color: #356eaa;
  cursor: default;
}

.button {
  border-radius: 100px;
  display: inline-block;
  padding: 10px;
  color: white;
  background-color: #215892;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  color: rgb(33, 15, 153);
}

.social-media {
  cursor: pointer;
}
.fa-instagram, .fa-facebook, .fa-twitter {
  color: black;
  padding: 10px;
}
.fa-instagram:hover, .fa-facebook:hover, .fa-twitter:hover {
  color: rgb(33, 15, 153);
}

@media (min-width: 600px) {
  .allstores {
      display: flex ;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-around;
  }

  .store {
    width: 33%;
  }

  .social-media{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
  }

}