body {
    background-color: aqua;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/kindle/merch/ACP/9781477847725_1_large._V342547249_.jpg);
    background-size: cover;
    background-position: center;
    font-weight: 500px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

h2 a {
    text-decoration: none;
    color: black;
    font-weight: 500px;
}

table {
    border-style:"5px rigid #000";
    text-align: center;
    width: 100%;
    background-color: beige;
}

table td {
    border-spacing: 5px;
    width: 300px;
}

.spam {
    text-decoration: underline;
    color: rgb(37, 0, 248);
}

input {
    width: 100%;
    background-color: rgb(184, 255, 184);
}

table th {
    font-size: 1.3rem;
    background-color: beige;
}

.deleted {
    background-color: black;
    color: white;
    width: auto;
}

.deleted_all {
    background-color: black;
    color: white;
    width: 25%;
    position: absolute;
    left: 50%;
}