body {
    background-color: aqua;
    font-weight: 500px;
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

h2 {
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

h2 a {
    text-decoration: none;
    color: black;
    font-weight: 500px;
}

table {
    border-style:"5px rigid #000";
    text-align: center;
    width: 100%;
}

table td {
    border-spacing: 5px;
    width: 300px;
}

.spam {
    text-decoration: underline;
    color: rgb(37, 0, 248);
}

input {
    width: 100%;
}

table th {
    font-size: 1.3rem;
}

.deleted {
    background-color: black;
    color: white;
    width: auto;
}