<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    <h1>The Bestest Blog</h1>
    <nav id=navigation>
      <a href="">Home</a>
      <a href="">About</a>
      <a href="">Careers</a>
      <a href="">Contact Us</a>
    </nav>
  </header>
  <article>
    
    <ul>
      {% for post in posts %}
        <li>
          <h5>{{post.title]}}</h4> 
          <h6>Author: {{post.author}} Date: {{item.date}} </h6>
          <p> {{post.body}} </p>
        </li>
      {% endfor %}
    </ul>

  </article>
  <footer>

  </footer>
</body>
</html>