
{% extends 'base.html' %}

{% block title %} Home {% endblock title %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-4">Hello, <a href="{% url 'users:profile' user.username%}">{{user.username}}</a>!</h1>
        <p class="lead">Welcome to Chirp! The only bird themed blogging site you could need!</p>
        <hr class="my-4">
        <p>For more details, check out your profile.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'users:profile' user.username%}" role="button">Profile</a>
    </div> 


    {% for post in post_list %}
    <div class="shadow p-3 mb-5 bg-white rounded">
        <h3><a href="{% url 'posts:details' post.pk %}">{{post.title}}</a></h3>
        <p class="lead">{{post.body}}</p>
        <p class="blockquote-footer">{{post.author}}</p>
        <p><em>{{post.updated}}</em></p>
    
       <form action="{% url 'posts:like' post.pk %}" method="POST">
        {% csrf_token %}
        <button type="submit" name="likes" class="btn btn-primary">
        Likes <span class="badge badge-light">{{post.likes}}</span>
        </button>
        </form>

        <br>
    </div>
    {% endfor %}
    

{% endblock content %}
