{% extends 'base.html' %}

{% block title %} New User {% endblock title %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" class="form-control" id="username"  placeholder="Enter username">
    
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password1" id="password" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="password">Confirm Password</label>
    <input type="password" class="form-control" name="password2" id="password" placeholder="Confirm Password">
  </div>
  
  <input type="Submit" class="btn btn-primary" value="Submit"/>
</form> 

    
{% comment %} <form action="" method='POST'>
    {% csrf_token %}
  {{ form.as_p}}
  <input type="submit" value="Submit">
</form>  {% endcomment %}

{% endblock content %}