<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chirp</title>
</head>
<body>
    <header>
        <h1>Chirp</h1>
        
        
        <nav>
            {% if user.is_authenticated %}
                <p><a href="{% url 'posts:home' %}">Home</a></p>
                <p><a href="{% url 'users:profile' user.username %}">Profile</a></p>
                <p><a href="{% url 'posts:create' %}">New Chirp</a></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'users:signup' %}">Sign up</a></p>
                <p><a href="{% url 'login' %}">Sign in</a></p>
            {% endif %}
        </nav>
    
    </header>
    
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>© 2021 Chirp, Inc.</p>
    </footer>
</body>
</html>