button {
    margin: 2em;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.user {
    
    width: 50%;
    text-align: center;
    padding: 2em;
    
}