html {
    box-sizing: border-box;
}

header {
    background-color: red;
    text-align: center;
    border: honeydew;
}

body{
    background-color: #d2b48c;
    border: black;
}

p {
    border: 1px solid black
    ;
}
