html {
    box-sizing: border-box;
}

body, main, footer {
    padding: 1em;
}

header {
    background-color: red;
    text-align: center;
    border: honeydew;
}

body{
    background-color: #d2b48c;
    padding: 1em;
    border: black;
}

.grid {
    display: grid;
    
}