body {
    text-align: center;
    font-family: "raleway", sans-serif;
    
}
.quote {
    margin: 2em;
    border: 2px solid black;
    box-shadow: 10px 10px 10px gray;
}
.btns {
    display: flex;
    justify-content: space-around;
}