<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quotes</title>

    <!-- <link rel="stylesheet" href="/css/site.css" /> -->
</head>
<body>
    <div id="app">
        
        
        <div>
            <input type="text" placeholder="Type here" v-model="walletAddress">
            
            
            <button @click="loadQuotes">Search</button>

            <ul v-if="Object.keys(results).length">

                    <p>{{ results }}</p>
                </li>
            </ul>
            
        
        </div>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="site.js"></script>
</body>
</html>