{% extends "chirp_app/base.html" %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/register.css' %}">


{% block content %}
<link rel="stylesheet" href="{% static 'css/register.css' %}">
<div class="content-section">
    <form class="sign-up-form" action="" method="POST">
        {% csrf_token %}
        {{form.as_p }}
        <input type="submit" value="Sign-Up">
    </form>
    <div class="sign-in">
        <p>
            Already have an account. <a href="{% url 'login' %}">Sign-in</a>
        </p>
    </div>
    </form>
</div>
{% endblock content %}