<!DOCTYPE html>
<html lang = 'en'>
 
    <head>

        <meta charset = "UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/7b6e1a72b7.js" crossorigin="anonymous"></script>
        <title>LENEHRT LLC</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=IM+Fell+English+SC&family=Londrina+Solid:wght@300&family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">


        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    
    </head>
    
    <body>

        <header>
            
            <h1>To do list</h1>
          
        </header>
        
        <main>

            {%for x in todos%}

                  <p>{{x["text"]}}</p>
                  <p>{{x["priority"]}}</p>

            {%endfor%}

        </main>
        

        <form action="/receive_form/" method="post">
            <input type="text" name="person_name" value="Jane"/>
            <input type="text" name="person_age" value="34"/>
            <button type="submit">submit</button>
        </form>



        <footer>
          <h3>Follow us</h3>
            <div class="social-media">
                <a href="https://www.instagram.com"> <i class="fab fa-instagram fa-2x"></i></a>
                <a href="https://www.facebook.com"> <i class="fab fa-facebook fa-2x"></i></a>
                <a href="https://www.twitter.com"> <i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </footer>

    </body>

</html>