body {
    background-color: aqua;
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
}

a {
    color: black;
    text-decoration: none;
    font-weight: 699;
}

li {
    display: flex;
    flex-direction: row;
    border-bottom: 4px ridge red;
    align-items: center;
}

li input {
    margin-left: 20px;
    margin-top: 25px;
}

h3 {
    text-align: center;
}


ul li {
    color: rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.completed {
    text-decoration: line-through;
    color: yellow;
    padding: 10px;
    margin: 5px;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.addition {
    display: flex;
    justify-content: center;
}

h4 {
    font-size: 45px;
    color: rgb(255, 0, 0);
    text-align: center;
}