*{
    padding: 0px;
    margin: 0px;
    background-color: lightblue;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header{
    background-color: lightgrey;
    display: flex;
}

.navigation{
    padding: 5px;

}